{% extends "base.html" %} {%block content%}
<div class="container">
  {%if error%}
  <div class="alert alert-danger" role="alert">
    Username or Password is incorrect!
  </div>
  {%endif %}

  <div class="row">
    <div class="col-7">
      <form method="POST">
        {%csrf_token%}
        <div class="form-group my-3">
          <label for="exampleInputEmail1">Username</label>
          <input
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            name="username"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group my-3">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            name="password"
          />
        </div>
        <div class="form-check my-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Login to Raveilla</button>
      </form>
    </div>
    <div
      class="col-5 d-flex justify-content-center align-items-center flex-column"
    >
      <h1>Create an account?</h1>
      <a href="/register">Sign up Now!</a>
    </div>
  </div>
</div>

{%endblock%}
